{{<html}}
{{$main}}

{{& page.contents.html}}

<div id="authors" class="wrapper">

    {{#empty(authors)}}
    Empty.
    {{/empty(authors)}}
    {{^empty(authors)}}
    <div class="grid grid-221">
    {{#authors}}
        {{> partials.blog.author}}
    {{/authors}}
    </div>
    {{/empty(authors)}}
    
</div>

{{/main}}
{{/html}}
