{{<html}}
{{$main}}

{{& page.contents.html}}


<div id="blog" class="wrapper">
    
    <h2>Featured posts</h2>
    {{#empty(featured)}}
    Empty.
    {{/empty(featured)}}
    {{^empty(featured)}}
    <div class="grid grid-321">
    {{#featured}}
        {{> partials.blog.post}}
    {{/featured}}
    </div>
    {{/empty(featured)}}
    
    
    <h2>Latest posts</h2>
    {{#empty(posts)}}
    Empty.
    {{/empty(posts)}}
    {{^empty(posts)}}
    <div class="grid grid-321">
    {{#posts}}
        {{> partials.blog.post}}
    {{/posts}}
    </div>
    {{/empty(posts)}}

</div>
{{/main}}
{{/html}}
