{{<html}}
{{$main}}

{{& page.contents.html}}

<div id="posts" class="wrapper">

    {{#empty(iterator.post.items)}}
    Empty.
    {{/empty(iterator.post.items)}}
    {{^empty(iterator.post.items)}}
    <div class="grid grid-321">
    {{#iterator.post.items}}
        {{> partials.blog.post}}
    {{/iterator.post.items}}
    </div>
    {{/empty(iterator.post.items)}}
    
    {{#empty(pagination.links.post)}}
    {{/empty(pagination.links.post)}}
    {{^empty(pagination.links.post)}}
    <div class="pagination">
    {{#pagination.links.post}}
        {{> partials.pagination}}
    {{/pagination.links.post}}
    </div>
    {{/empty(pagination.links.post)}}

</div>

{{/main}}
{{/html}}
