.promo-box {
    border: 3px dashed #EF8A34;
    font-weight: bold;
    padding: 16px;
    margin-bottom: 32px;
    text-align: center;
}
.promo-box a, .promo-box a:link, .promo-box a:visited {
    color: var(--text-color);
}
.promo-box a, .promo-box a:hover {
    color: var(--link-color);
}
